.App {
  background-color: #171821;
  height: 100vh;
  position: relative;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.css-1u2w381-MuiModal-root-MuiDrawer-root{
  position: relative !important;
}